@{
    ViewData["Title"] = "Liste des Clients";
}
<div class="container mt-5">
    <h2>Clients Inscrits</h2>
    <ul class="list-group">
        <li class="list-group-item">Client 1</li>
        <li class="list-group-item">Client 2</li>
        <!-- Ajoutez d'autres clients ici -->
    </ul>
</div>
