@{
    ViewData["Title"] = "Accueil";
}

<div class="container" style="width: 9000px;">

    <h1 class="text-center">Bienvenue sur Artisan Booking System</h1>
    <p class="text-center">Connectez les techniciens et les clients en toute simplicité.</p>

    <div class="row mt-4" >
       
        <div class="col-md-12 text-center">
            <a href="/Clients" class="btn btn-outline-success">  Clients  </a>
            <a href="/Technicians" class="btn btn-outline-success">Techniciens</a>
        </div>


    </div>
</div>


